env:
  GTAF_FULL_VERSION: 0.0.1.${{ github.run_number }}

name: Build GTAF
run-name: GTAF 0.0.1.${{ github.run_number }}

on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main"]

jobs:

  build-linux:
    uses: ./.github/workflows/build-linux.yml
    with:
      GTAF_FULL_VERSION: ${{ env.GTAF_FULL_VERSION }}
  build-windows:
    uses: ./.github/workflows/build-windows.yml
    with:
      GTAF_FULL_VERSION: ${{ env.GTAF_FULL_VERSION }}
